{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}



<div class="container  padding-tableau" style="height: auto; min-height: 30vh;">
    <section class="row">
        <div class="col-12">
            <h1 class="text-white text-center">Panier</h1>
            <table class="table text-white border-white">
                <thead>
                    <tr>
                         <th>Produit</th>
                         <th>Taille</th>
                         <th>Prix</th>
                         <th>Quantité</th>
                         <th>Total</th>
                         <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for element in data %}
                

                    <tr>
                    <td>{{ element.product.name }}</td>
                    {% for size in element.product.size %}
    {% if size.id == element.size %}
        <td>{{ size.taille }}</td>
    {% endif %}
{% endfor %}

                    <td>{{ element.product.price}}€</td>
                    <td>{{ element.quantity }}</td>
                    <td>{{ element.quantity * element.product.price}}€</td>
                    <td>
                        <a href="{{ path('cart_increase_quantity', {'id': element.product.id, 'size':element.size}) }}" class="btn btn-success">+</a>

                        <a href="{{ path('cart_remove', {'id' : element.product.id, 'size':element.size}) }}" class="btn btn-warning">-</a>
                        <a href="{{ path('cart_delete', {'id' : element.product.id, 'size':element.size}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                    </tr>
                    {% else %}
                    <tr>
                    <td colspan="5">Votre panier est vide</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <td colspan="3">Total</td>
                        <td></td>                 
                        <td>{{ total }}€</td>  
                        <td>
                        <a href="{{ path('cart_empty') }}" class="btn btn-danger">Vider</a>
                        </td>  
                    </tr>
                </tfoot>
            </table>
              <a href="{{ path('app_stripe') }}" class="btn btn-success">Payer la commande</a>
              <a href="{{ path('app_boutique')}}" class="btn btn-warning">Retour à la boutique</a>
        </div>
    </section>
</div>



{% endblock %}