
<div class="container-fluid d-flex justify-content-between align-items-center bg-nav position-relative" style="z-index: 10;" >

    <!-- Début -->
    <div class="col">
        <div class="d-flex justify-content-end position relative">
            <a href="{{ path('app_landing')}}"><img class="logo-nav" style="z-index: 10; opacity: 1" alt="Logo du club de mma" src="{{ asset('images/kabuto-logo-fightclub-jpg-1@2x.png') }}" /></a>
            <p class="fw-bold pt-3 email-nav">Kabutofightclub17@gmail.com</p>
        </div>
    </div>

    <!-- Milieu -->
    <div class="col text-center d-flex justify-content-end d-none d-sm-block">
        <div class="d-flex justify-content-center">
            <div class="d-flex bg-dark icon-bg-header justify-content-center align-items-center me-2">
                <a  href="https://www.facebook.com/KabutoFightTeam"><img class="frame-icon" alt="" src="{{ asset('images/frame2.svg') }}" /></a>
            </div>
           <a href=""><div class="d-flex bg-dark icon-bg-header justify-content-center align-items-center me-2">
                <img class="twitter-icon" alt="" src="{{ asset('images/twitter4.svg') }}" /></a>
            </div>
            <div class="d-flex bg-dark icon-bg-header justify-content-center align-items-center me-2">
                <a href="https://www.instagram.com/kabutofightclub/"><img class="instagram-icon" alt="" src="{{ asset('images/instagram2.svg') }}" /></a>
            </div>
            <div class="d-flex bg-dark icon-bg-header justify-content-center align-items-center me-2">
                <a href="https://www.youtube.com/@kabutofightteamlarochelle4494"><img class="youtube-icon" alt="" src="{{ asset('images/youtube2.svg') }}" /></a>
            </div>
        </div>
    </div>

    <!-- Fin -->
   <div class="col text-end ">
    <ul class="list-unstyled list-inline text-dark mb-0 ">
        {% if app.user %}
            <li class="nav-item list-inline-item">
                <span class="nav-link text-dark fw-bold">
                    Bonjour, {{ app.user.prenom }}
                </span>
            </li>
            <li class="nav-item list-inline-item">
                <a class="nav-link text-dark" href="{{ path('app_profile') }}" title="Accéder à mon profil">
                    <i class="fas fa-user"></i> <!-- Ici j'utilise l'icône "user" de Font Awesome -->
                </a>
            </li>
        {% else %}
            <li class="nav-item list-inline-item">
                <a class="nav-link text-dark fw-bold" href="{{ path('app_login') }}">
                    <img src="{{ asset('images/login-icon.png') }}" alt="Login Icon">
                </a>
            </li>
        {% endif %}
    </ul>
</div>



</div>






  <nav class="navbar navbar-expand-lg p-0  bg-transparent position-relative d-flex    justify-content-end justify-content-lg-center" style="z-index: 11;">
    <button class="navbar-toggler position-absolute p-0 mt-5 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img src="{{asset('images/burger.svg') }}" alt="Menu">
    </button>
    <div class="collapse navbar-collapse  navbarLanding-placement position-absolute " style="z-index: 10;" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center padding-header ">
        <li class="nav-item ">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_landing') }}">ACCUEIL</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_coaches') }}">LES COACHS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_disciplines') }}">DISCIPLINES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_horaire') }}">HORAIRES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_combattant') }}">COMBATTANT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_boutique') }}">BOUTIQUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_tarif') }}">TARIFS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-text" style="color: yellow;" href="{{ path('app_kongs') }}">Kongs</a>
        </li>
      </ul>
    </div>
  </nav>
  

 




