 {% extends 'base.html.twig' %}
 {% block body %}


 <div class="container-fluid padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="main-title-boutique text-white">Notre <span style="color: yellow;">boutique</span></h1>
            <div class="decoration-text"></div>
            <a href="{{ path('cart_index')}}"><img src="{{ asset('images/cartLogo.png') }}" class="cartLogo mt-5" alt="logo d'un charriot"></a>
        </div>
    </div>



    <img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
    <img src="{{ asset('images/group-33300.svg') }}" class="vector-icon2" alt="vector jaune">



   


<div class="container ">

    {% set counter = 0 %}

    {% for product in product %}

        {% if counter is divisible by(4) %}
            <div class="row mb-4">
        {% endif %}

        <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card">
                <div class="d-flex flex-column">
                    <img src="{{ asset(product.images) }}" class="article-boutique" alt="{{ product.name }}">
                    <div class="article-name">
                        <p class="text-black fw-bold text-center text-uppercase">{{ product.name }}</p>
                        <p class="text-black fw-bold text-center">{{ product.price }}€</p>
                        <a href="{{ path('products_details', {"slug": product.slug}) }}" class="btn btn-warning col-12">Voir les détails</a>
                        <a href="{{ path('cart_addtocart', {id: product.id}) }}" class="btn btn-secondary col-12">Ajouter au panier</a>
                    </div>       
                </div>
            </div>
        </div>

        {% set counter = counter + 1 %}

        {% if counter is divisible by(4) %}
            </div>
        {% endif %}

    {% endfor %}

    {% if counter is not divisible by(4) %}
        </div>
    {% endif %}

    
    
</div>



  {% endblock %}
 