{% extends 'base.html.twig' %}
 {% block body %}

 <div class="container-fluid padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="title-coach text-white">Découvrir nos <span style="color: yellow;">entraineurs</span></h1>
            <div class="decoration-text"></div>
        </div>
    </div>


    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/samuelJudesProfil.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Samuel Judes</h3>
                <p class="roboto-font" style="color: yellow;">Head Coach / Prepa Physique / Jiu Jitsu Bresilien / MMA</p>
                <p class="text-white roboto-font ">Avec ses débuts dans le judo dès 5 ans, Samuel s'est rapidement distingué comme un athlète et combattant hors pair, embrassant des disciplines telles que le MMA, JJB et grappling. Transformant sa passion en profession, il est devenu entraîneur en 2001, guidant de futurs champions vers des titres nationaux et mondiaux. Maintenant, il façonne la nouvelle génération de combattants, en partageant son savoir à la fois dans le ring et en tant que coach sportif.

                </p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/samuel.judes"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/samuel_judes/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.youtube.com/@samueljudes5522"><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>


<img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
<img src="{{ asset('images/group-33300.svg') }}" class="vector-icon2" alt="vector jaune">




    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Luc Moinot</h3>
                <p class="roboto-font" style="color: yellow;">Jiu jitsu bresilien / Prepa Physique</p>
                <p class="text-white roboto-font ">Détenteur d'un titre de champion de France de JJB et fier porteur de la ceinture noire, Luc Moinot n'est pas juste un autre combattant; il est une véritable inspiration. Son parcours, marqué par d'innombrables compétitions nationales et internationales, témoigne de sa détermination et de sa maîtrise du sport. Mais Luc ne s'arrête pas à ses propres réussites. Passionné par la transmission de son savoir, il s'est dévoué à l'enseignement, offrant une formation incomparable dans le domaine du JJB. Que vous cherchiez à vous initier, à peaufiner vos compétences, ou à transformer votre condition physique, avec Luc, vous êtes entre les mains d'un expert dévoué.</p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/luck.luck.779"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/luc_moinot/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/lucCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
        </div>
    </div>


    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/christianCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Christiand Durand</h3>
                <p class="roboto-font" style="color: yellow;">Boxe Anglaise / Cut Man</p>
                <p class="text-white roboto-font ">Entrant tôt dans l'univers de la boxe anglaise, Christian Durand s'est vite imposé comme une figure emblématique du sport. Son parcours, d'abord en tant que boxer puis comme coach, lui a offert une perspective unique, enrichie par les nombreuses rencontres et expériences sur le ring. Son rôle ne se limite pas à l'entraînement; en tant que cutman, Christian comprend les subtilités et les besoins d'un combattant pendant un match. Cette double expertise fait de lui une ressource inestimable pour quiconque souhaite s'aventurer ou se perfectionner dans la boxe. Avec Christian, chaque entraînement est une immersion profonde, vous offrant à la fois la technique et l'esprit du noble art.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/christian.durand.1232"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/christiandurand_coach_cutman/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>



    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Sebastien Laurent</h3>
                <p class="roboto-font" style="color: yellow;">Muay-Thaï</p>
                <p class="text-white roboto-font ">Avec vingt années dédiées au Muay Thai, Sébastien Laurent est bien plus qu'un simple entraîneur; il est un pilier de cette discipline ancestrale. Tout au long de sa carrière, il a non seulement formé des champions mondiaux mais a également façonné une méthode d'enseignement qui allie tradition et modernité. Son approche unique, couplée à son expérience riche, a fait de lui une référence incontournable pour tous ceux désireux de plonger dans l'univers du Muay Thai. Qu'il s'agisse de débutants, d'adeptes intermédiaires ou de professionnels confirmés, Sébastien offre des programmes adaptés à chaque niveau et âge. Pour tous ceux qui cherchent à s'immerger dans la pure essence du Muay Thai, sous la guidance d'un expert, Sébastien Laurent est indéniablement le choix ultime.

                </p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/K1ThaiBoxing/"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/seb_lrt77/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/sebastienCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
        </div>
    </div>

<img src="{{ asset('images/group-33301.svg') }}" class="vector-icon3" alt="vector jaune">


    <div class="container-fluid pt-5 mb-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/tanguyCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Tanguy Marolleau</h3>
                <p class="roboto-font" style="color: yellow;">MMA / Prepa Physique</p>
                <p class="text-white roboto-font ">Tanguy Marolleau est un coach sportif professionnel qui a acquis une solide expérience dans le domaine de la remise en forme. Anciennement employé chez Basic Fit, il a développé une expertise en matière de programmation d'entraînement et de nutrition, et a aidé de nombreux clients à atteindre leurs objectifs de condition physique. En plus de ses compétences en coaching général, Tanguy est également un coach de MMA spécialisé dans l'entraînement des adolescents. Avec sa passion pour l'excellence et son engagement à offrir un service de qualité, Tanguy est le coach idéal pour ceux qui cherchent à améliorer leur forme physique et leur bien-être général, qu'ils soient intéressés par le MMA ou tout simplement par une remise en forme générale. Si vous êtes prêt à vous mettre au travail et à atteindre vos objectifs de remise en forme, n'hésitez pas à contacter Tanguy pour en savoir plus sur ses services de coaching sportif.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/tanguy.marolleau.3"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/tanguymarolleau/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>
    
    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Clementine Ballereau</h3>
                <p class="roboto-font" style="color: yellow;">k-prog</p>
                <p class="text-white roboto-font ">Clémentine, brillante membre de l'équipe féminine de rugby de La Rochelle, est bien plus qu'une simple joueuse. En parallèle à ses exploits sportifs, elle s'est affirmée comme la coach du "K-Prog", un programme d'entraînement avant-gardiste. Sa profonde connaissance du terrain, couplée à une vision moderne de la préparation sportive, lui permet d'offrir un encadrement holistique à ses protégés. Avec Clémentine à la tête, le K-Prog ne se contente pas d'entraîner les athlètes, il les transforme, en promettant une progression remarquable vers l'excellence.

              

                </p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/clementine.ballereau"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/bllru/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/clementine.jpg') }}" class="img-fluid" alt="photo du coach clementine ballereau">
            </div>
        </div>
    </div>



    <div class="container-fluid pt-5 mb-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/tristanCoach.jpg') }}" class="img-fluid" alt="photo du coach tristan martineau">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Tristan Martineau</h3>
                <p class="roboto-font" style="color: yellow;">MMA Debutant/Adolescent</p>
                <p class="text-white roboto-font ">Tanguy Marolleau, après avoir forgé sa réputation au sein de la renommée chaine de fitness Basic Fit, s'est imposé comme une figure incontournable du coaching sportif. Ayant accumulé une riche expérience et une connaissance pointue en matière de programmation d'entraînement et de nutrition, Tanguy sait exactement comment guider chaque individu vers ses objectifs. Qu'il s'agisse de personnes désireuses d'une transformation physique ou de celles cherchant à s'initier ou à se perfectionner dans l'arène du MMA, Tanguy offre une approche personnalisée et passionnée. Avec son dévouement et sa vision holistique, il est le complice idéal pour tout voyage sportif, garantissant à chaque fois progrès et accomplissement.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/tristan11martineau"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/tristan_martineau_coach_lr/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>


    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Anthony Laurent</h3>
                <p class="roboto-font" style="color: yellow;">Striking</p>
                <p class="text-white roboto-font ">Anthony Laurent, bien qu'âgé de seulement 22 ans, porte en lui une maturité et une expertise étonnantes. Brillant dans la boxe thaï, il ne se contente pas de ses propres réussites. En tant que Coach Striking, il puise dans son riche bagage pour enseigner, guider, et inspirer la prochaine génération de combattants. Chaque session d'entraînement avec Anthony est une immersion, où la technique, la stratégie et la passion se fusionnent pour créer une expérience d'apprentissage inégalée.

              

                </p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/anthony.laurent.378"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/anthonyshelby_/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/anthonyCoach.jpg') }}" class="img-fluid" alt="photo du coach anthony laurent">
            </div>
        </div>
    </div>



     <div class="container-fluid pt-5 mb-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/anthonyDagnaudCoach.jpg') }}" class="img-fluid" alt="photo du coach tristan martineau">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Anthony Dagnaud</h3>
                <p class="roboto-font" style="color: yellow;">MMA Debutant/Adolescent</p>
                <p class="text-white roboto-font ">En traversant les mondes du MMA et du grappling, Anthony Dagnaud s'est établi comme le guide fiable pour les novices. Sa pédagogie s'appuie sur sa propre expérience, garantissant un enseignement authentique pour ceux qui cherchent à se lancer dans les arts martiaux mixtes.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/tito.desbois"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/anthonydagnaud/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>


    <div class="container-fluid pt-5 mb-5">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Greg Meinard</h3>
                <p class="roboto-font" style="color: yellow;">JJB Debutant/Adolescent</p>
                <p class="text-white roboto-font ">Greg Meinard n'est pas qu'un simple coach de Jiu-Jitsu Brésilien (JJB) : c'est un véritable maître dans l'art, un champion ayant remporté plusieurs compétitions majeures en JJB. Son passé en tant que pompier témoigne de son courage, de sa discipline et de sa détermination, des qualités qu'il infuse dans chaque session d'entraînement. Aujourd'hui, il se consacre à transmettre sa passion et son savoir-faire aux débutants et aux adolescents. Avec Greg, chaque prise et chaque mouvement sont enseignés avec précision, patience et passion. Si vous cherchez un mentor qui combine expérience, expertise et un dévouement inébranlable, Coach Greg Meinard est la référence..

              

                </p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/greg.meinard"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/greg.lepirate/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/gregMeinardCoach.png') }}" class="img-fluid" alt="photo du coach anthony laurent">
            </div>
        </div>
    </div>


 
    



 {% endblock %}




