{% extends 'base.html.twig' %}
 {% block body %}

 <div class="container-fluid padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="title-coach text-white">Découvrir nos <span style="color: yellow;">entraineurs</span></h1>
            <div class="decoration-text"></div>
        </div>
    </div>


    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/samuelJudesProfil.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Samuel Judes</h3>
                <p class="roboto-font" style="color: yellow;">Head Coach / Prepa Physique / Jiu Jitsu Bresilien / MMA</p>
                <p class="text-white roboto-font ">Samuel est un ancien athlète de haut niveau et combattant professionnel de judo, Jiu Jitsu brésilien, grappling et MMA. Il a commencé à pratiquer le judo à l'âge de 5 ans et est devenu entraîneur d'une équipe de haut niveau en judo en 2001. En parallèle, il a commencé à pratiquer le MMA, le JJB et le grappling et a fait son premier combat professionnel à l'âge de 22 ans. Au cours de sa carrière, il a formé plusieurs champions de France, d'Europe et du monde dans diverses disciplines de combat. Aujourd'hui, il encadre plusieurs combattants professionnels et amateurs de MMA et est également coach sportif. 

                </p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/samuel.judes"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/samuel_judes/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.youtube.com/@samueljudes5522"><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>


<img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
<img src="{{ asset('images/group-33300.svg') }}" class="vector-icon2" alt="vector jaune">




    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Luc Moinot</h3>
                <p class="roboto-font" style="color: yellow;">Jiu jitsu bresilien / Prepa Physique</p>
                <p class="text-white roboto-font ">Luc Moinot est un entraîneur de Jiu Jitsu brésilien de ceinture marron. Il a participé à de nombreuses compétitions nationales et internationales de JJB et est champion de France dans sa catégorie. En plus de sa carrière de combattant, Luc est également coach de JJB et coach sportif diplômé. Il possède une grande expérience dans l'enseignement et est reconnu pour son expertise dans le domaine du JJB. Si vous cherchez un coach de haut niveau pour améliorer vos compétences en JJB ou simplement pour atteindre vos objectifs de condition physique, Luc Moinot est le coach qu'il vous faut.</p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/luck.luck.779"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/luc_moinot/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/lucCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
        </div>
    </div>


    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/christianCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Christiand Durand</h3>
                <p class="roboto-font" style="color: yellow;">Boxe Anglaise / Cut Man</p>
                <p class="text-white roboto-font ">Christian Durand est un coach de boxe anglaise reconnu. Il a été l'un des entraîneurs les plus jeunes de France et a une grande expérience dans le monde de la boxe. Christian a été lui-même un boxer et est maintenant entraîneur et cutman. Sa connaissance approfondie de la boxe et de la préparation des combattants en font un élément indispensable pour la progression de tout combattant. Si vous cherchez un entraîneur de boxe de qualité pour améliorer vos compétences ou simplement pour atteindre vos objectifs de condition physique, Christian Durand est le coach idéal pour vous.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/christian.durand.1232"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/christiandurand_coach_cutman/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>



    <div class="container-fluid pt-5 ">
        <div class="row d-flex justify-content-center align-items-center">
           
            <div class="d-flex flex-column col-xxl-4 order-2 order-xxl-1">
                <h3 class="text-white sss-font ">Sebastien Laurent</h3>
                <p class="roboto-font" style="color: yellow;">Muay-Thaï</p>
                <p class="text-white roboto-font ">Sébastien Laurent est un coach de Muay Thai de renom. Avec plus de 20 ans d'expérience dans le domaine, il a déjà eu l'occasion de former et d'entraîner des champions du monde de Muay Thai. Sa passion pour ce sport et son engagement à offrir un enseignement de qualité en font le coach idéal pour ceux qui souhaitent se perfectionner dans cette discipline. En plus de ses séances de coaching pour les adultes, Sébastien Laurent propose également des séances de Muay Thai pour les adolescents. Si vous êtes intéressé par le Muay Thai et que vous cherchez à travailler avec un coach expérimenté et dévoué, Sébastien Laurent est la personne qu'il vous faut. N'hésitez pas à en savoir plus sur ses services de coaching de Muay Thai et à prendre contact pour découvrir comment il peut vous aider à atteindre vos objectifs de performance, quel que soit votre âge.

                </p>
                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                        <a href="https://www.facebook.com/K1ThaiBoxing/"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                   
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href="https://www.instagram.com/seb_lrt77/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>
    
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>
    
            </div> 
            
            
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center order-1 order-xxl-2">
                <img src="{{ asset('images/sebastienCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
        </div>
    </div>

<img src="{{ asset('images/group-33301.svg') }}" class="vector-icon3" alt="vector jaune">


    <div class="container-fluid pt-5 mb-5 ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-xxl-4 d-flex justify-content-center">
                <img src="{{ asset('images/tanguyCoach.png') }}" class="img-fluid" alt="photo du coach samuel">
            </div>
            <div class="d-flex flex-column col-xxl-4 ">
                <h3 class="text-white sss-font ">Tanguy Marolleau</h3>
                <p class="roboto-font" style="color: yellow;">MMA / Prepa Physique</p>
                <p class="text-white roboto-font ">Tanguy Marolleau est un coach sportif professionnel qui a acquis une solide expérience dans le domaine de la remise en forme. Anciennement employé chez Basic Fit, il a développé une expertise en matière de programmation d'entraînement et de nutrition, et a aidé de nombreux clients à atteindre leurs objectifs de condition physique. En plus de ses compétences en coaching général, Tanguy est également un coach de MMA spécialisé dans l'entraînement des adolescents. Avec sa passion pour l'excellence et son engagement à offrir un service de qualité, Tanguy est le coach idéal pour ceux qui cherchent à améliorer leur forme physique et leur bien-être général, qu'ils soient intéressés par le MMA ou tout simplement par une remise en forme générale. Si vous êtes prêt à vous mettre au travail et à atteindre vos objectifs de remise en forme, n'hésitez pas à contacter Tanguy pour en savoir plus sur ses services de coaching sportif.</p>

                <div class="d-flex ">
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                            <a href="https://www.facebook.com/tanguy.marolleau.3"><img class="coach-icon" alt="" src="{{ asset('images/frame3.svg') }}" /></a>
                    </div>
                    
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                      <a href="https://www.instagram.com/tanguymarolleau/"><img class="coach-icon" alt="" src="{{ asset('images/instagram3.svg') }}" /></a>
                    </div>
                    <div class="d-flex  coach-icon-bg justify-content-center align-items-center me-2">
                     <a href=""><img class="coach-icon" alt="" src="{{ asset('images/youtube1.svg') }}" /></a>
                    </div>
                </div>

                
                <div class="dropdown mt-5">
                    <button class="btn btn-coach fw-bold dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacter</button>
                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                        <a class="dropdown-item" href="tel:+1234567890">Téléphone: +1234567890</a>
                        <a class="dropdown-item" href="mailto:example@email.com">Email: example@email.com</a>
                    </div>
                </div>

                </div>

                
            </div>
        </div>
    </div>
    
 
    



 {% endblock %}




