{% extends 'base.html.twig' %}
 {% block body %}

 <div class="container-fluid padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="main-title-combattant text-white">Nos <span style="color: yellow;">combattants</span></h1>
            <div class="decoration-text"></div>
        </div>
    </div>


    <img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
    <img src="{{ asset('images/group-33300.svg') }}" class="vector-icon2" alt="vector jaune">

   




    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center col-xl-8  pt-5 mb-5">
      <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
          <img src="{{ asset('images/rectangle-6728@2x.png') }}" class=" img-discipline" alt="photo de anthony laurent">
      </div>
  
      <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
          <h2><span style="color: yellow;">Anthony Laurent</span></h2>
          <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
          <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
          <ul class="discipline-list">
            <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
            <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
            <li class="m-2 me-5 text-white">Muay Thaï</li>
          </ul>
          <p class="text-white fs ps-5">Anthony Laurent est un combattant professionnel de MMA (Mixed Martial Arts) âgé de 22 ans. Il combat dans la catégorie de poids inférieure à 61kg. Il a disputé 2 combats jusqu'à présent, avec 1 victoire et 1 défaite. Anthony est un athlète expérimenté, ayant été professionnel de boxe thaï avec un palmarès impressionnant et étant membre de l'équipe de France de boxe thaï. Il vient tout juste de faire ses débuts en MMA et est déterminé à montrer son talent dans cette discipline. Si vous êtes fan de MMA et que vous souhaitez voir de l'action de haut niveau, ne manquez pas les prochains combats d'Anthony Laurent!</p>

          <div class="d-flex ">
              <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                <a href="https://www.facebook.com/anthony.laurent.378" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
              </div>
             
              <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                <a href="https://www.instagram.com/anthonyshelby_/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
              </div>
              
            </div>
      </div>
  </div>





    <div class="container-fluid  d-flex flex-column-reverse flex-lg-row-reverse justify-content-center col-xl-8  pt-5 mb-5">

       
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12  col-lg-8">
            <h2><span style="color: yellow;">Tito Mampouya</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white  little-gap">Anthony Laurent est un combattant professionnel de MMA (Mixed Martial Arts) âgé de 22 ans. Il combat dans la catégorie de poids inférieure à 61kg. Il a disputé 2 combats jusqu'à présent, avec 1 victoire et 1 défaite. Anthony est un athlète expérimenté, ayant été professionnel de boxe thaï avec un palmarès impressionnant et étant membre de l'équipe de France de boxe thaï. Il vient tout juste de faire ses débuts en MMA et est déterminé à montrer son talent dans cette discipline. Si vous êtes fan de MMA et que vous souhaitez voir de l'action de haut niveau, ne manquez pas les prochains combats d'Anthony Laurent!
            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/titompa/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>

         <div class="portrait col-12 col-lg-4 d-flex justify-content-center">
            <img src="{{ asset('images/rectangle-6726@2x.png') }}" class="img-discipline " alt="photo de tito mampouya">
        </div>

        

    </div>



    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center col-xl-8  pt-5 mb-5">
        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/rectangle-6727@2x.png') }}" class=" img-discipline" alt="photo de martin mc nulty">
        </div>
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Martin McNulty</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white ps-5">Martin McNulty est un combattant professionnel de MMA (Mixed Martial Arts) âgé de 20 ans. Il combat dans la catégorie de poids inférieure à 57kg. Il a disputé 5 combats professionnels jusqu'à présent, avec 4 victoires et 1 défaite à son actif. Martin est une jeune promesse du MMA et est reconnu pour son style agressif et ses performances solides en cage. Si vous êtes fan de MMA et que vous souhaitez voir de l'action de haut niveau, ne manquez pas les prochains combats de Martin McNulty!


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href=""><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/lonewolfmac/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>
    </div>




    
    <div class="container-fluid d-flex flex-column-reverse flex-lg-row-reverse justify-content-center col-xl-8 pt-5 mb-5">
        
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Bilal Labid</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white little-gap ">Bilal Labid est un combattant professionnel de MMA (Mixed Martial Arts) âgé de seulement 20ans. Il combat dans la catégorie de poids inférieure à 61kg. Avec un seul combat à son actif, Bilal a déjà réussi à remporter une victoire impressionnante, démontrant son talent et sa détermination dès son premier combat. Bilal est connu pour son explosivité et sa souplesse, ce qui en fait un combattant redoutable en cage. Si vous êtes fan de MMA et que vous souhaitez voir de l'action de haut niveau, ne manquez pas les prochains combats de Bilal Labid!


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  />
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/bilal_labid/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>

        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/bilal@2x.png') }}" class=" img-discipline" alt="photo de bilal labid">
        </div>

        

    </div>






    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center col-xl-8  pt-5 mb-5">
        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/tanguy.png') }}" class=" img-discipline" alt="photo de tanguy marolleau">
        </div>
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Tanguy Marolleau</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white ps-5">Tanguy Marolleau est un combattant de MMA talentueux âgé de 27 ans et combattant en moins de 77kg. Avec un palmarès de 1 combat et 1 défaite, il a déjà démontré un fort potentiel et une détermination à réussir dans cette discipline exigeante. En tant que jeune athlète de 27 ans, Tanguy Marolleau a encore toutes les chances de connaître de grandes réussites dans le MMA. Si vous êtes fan de MMA et que vous souhaitez suivre les performances de Tanguy Marolleau, n'hésitez pas à en savoir plus sur son parcours et à le soutenir dans ses prochains combats. Avec sa détermination et son talent, il est certain que Tanguy Marolleau ira loin dans la discipline du MMA en moins de 77kg.


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.facebook.com/tanguy.marolleau.3" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/tanguymarolleau/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>
    </div>





    <div class="container-fluid d-flex flex-column-reverse flex-lg-row-reverse justify-content-center col-xl-8 pt-5 mb-5">
        
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Tristan Martineau</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white little-gap">Tristan Martinneau est un jeune combattant amateur de MMA âgé de 22 ans. Avec une expérience conséquente dans la discipline, Tristan Martinneau a l'ambition de devenir un combattant professionnel de MMA une fois qu'il aura fait ses preuves en amateur. En général, Tristan Martinneau combat en moins de 72kg. Si vous êtes intéressé par le MMA et que vous souhaitez en savoir plus sur les performances de Tristan Martinneau, n'hésitez pas à en savoir plus sur son parcours et à le soutenir dans ses prochains combats. Avec sa détermination et son talent, il est certain que Tristan Martinneau ira loin dans la discipline du MMA.


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.facebook.com/tristan11martineau" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/tristan_martineau_mma/" target="blank" ><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>

        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/tristan.png') }}" class=" img-discipline" alt="photo de tristan martineau">
        </div>

        

    </div>


    <img src="{{ asset('images/group-33301.svg') }}" class="vector-icon3" alt="vector jaune">


    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center col-xl-8  pt-5 mb-5">
        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/althea.png') }}" class=" img-discipline" alt="photo de althea bruneteau ">
        </div>
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Althéa Bruneteau</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list d-flex justify-content-center">
              <li class="ms-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="ms-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="ms-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white ps-5">Althéa Brunneuteau est une athlète de 27 ans, fière de son titre de championne de pancrace de France. Avec une expérience conséquente dans le MMA et une détermination à réussir dans cette discipline exigeante, Althéa a déjà prouvé son potentiel en affrontant la championne du monde de MMA. En plus de son talent au combat, Althéa est une athlète qui combat en -59kg, capable de se mesurer aux meilleurs combattants de sa catégorie de poids. Si vous êtes intéressé par le MMA et que vous souhaitez suivre les performances d'Althéa Brunneuteau, n'hésitez pas à en savoir plus sur son parcours et à la soutenir dans ses prochains combats. 


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.facebook.com/althea.bruneteau" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/althea_bruneteau/" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>
    </div>

    <div class="container-fluid d-flex flex-column-reverse flex-lg-row-reverse justify-content-center col-xl-8 pt-5 mb-5">
        
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Gregoire Cottineau</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list">
              <li class="m-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="m-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="m-2 me-5 text-white">Muay Thaï</li>
            </ul>
            <p class="text-white little-gap">Tristan Martinneau est un jeune combattant amateur de MMA âgé de 22 ans. Avec une expérience conséquente dans la discipline, Tristan Martinneau a l'ambition de devenir un combattant professionnel de MMA une fois qu'il aura fait ses preuves en amateur. En général, Tristan Martinneau combat en moins de 72kg. Si vous êtes intéressé par le MMA et que vous souhaitez en savoir plus sur les performances de Tristan Martinneau, n'hésitez pas à en savoir plus sur son parcours et à le soutenir dans ses prochains combats. Avec sa détermination et son talent, il est certain que Tristan Martinneau ira loin dans la discipline du MMA.


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.facebook.com/profile.php?id=100011744078757" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/cottineaugregoire/" target="blank" ><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>

        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/gregoire.jpg') }}" class=" img-discipline" alt="photo de gregoire cottineau">
        </div>

        

    </div>


    <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center col-xl-8  pt-5 mb-5">
        <div class="portrait col-12 col-lg-4  d-flex justify-content-center">
            <img src="{{ asset('images/mathis.jpg') }}" class=" img-discipline" alt="photo de mathis chevalier ">
        </div>
    
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-lg-8">
            <h2><span style="color: yellow;">Mathis Chevalier</span></h2>
            <p class="performance fw-bold text-white p-2">Performance : <span style="color: yellow;">13-2-4</span></p>
            <p class="performance fw-bold text-white p-2"><span style="color: yellow;">Disciplines</span></p>
            <ul class="discipline-list d-flex justify-content-center">
              <li class="ms-2 me-5 text-white">Mixed Martial Arts</li>
              <li class="ms-2 me-5 text-white">Jiu Jitsu Bresilien</li>
              <li class="ms-2 me-5 text-white">Boxe</li>
            </ul>
            <p class="text-white ps-5">Althéa Brunneuteau est une athlète de 27 ans, fière de son titre de championne de pancrace de France. Avec une expérience conséquente dans le MMA et une détermination à réussir dans cette discipline exigeante, Althéa a déjà prouvé son potentiel en affrontant la championne du monde de MMA. En plus de son talent au combat, Althéa est une athlète qui combat en -59kg, capable de se mesurer aux meilleurs combattants de sa catégorie de poids. Si vous êtes intéressé par le MMA et que vous souhaitez suivre les performances d'Althéa Brunneuteau, n'hésitez pas à en savoir plus sur son parcours et à la soutenir dans ses prochains combats. 


            </p>

            <div class="d-flex ">
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.facebook.com/mathis.chevalier.54" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/frame3.svg') }}"  /></a>
                </div>
               
                <div class="d-flex  icon-bg-footer justify-content-center align-items-center me-2">
                  <a href="https://www.instagram.com/p/Cu1dQJStERW/?img_index=7" target="blank"><img class="footer-icon" alt="" src="{{ asset('images/instagram1.svg') }}" /></a>
                </div>
                
              </div>
        </div>
    </div>


       {% endblock %}