{% extends 'base.html.twig' %}
 {% block body %}


 <div class="container-fluid  padding">
        <div class="d-flex flex-column pb-5 justify-content-center  align-items-center">
            <h1 class="main-title-discipline text-white">Nos <span style="color: yellow;">disciplines</span></h1>
            <div class="decoration-text"></div>
        </div>
    </div>


     <div class="container pb-5">
        <div class="row flex-column-reverse flex-md-row align-items-center text-center text-md-start">
            <div class="col-12 col-lg-4">
                <img src="{{ asset('images/mma.jpg') }}" alt="" class="img-fluid mx-auto d-block img-discipline" style="background-color: black;">
            </div>
            <div class="col-12 col-lg-8">
                <h2 class="roboto-font title-discipline" style="color: yellow;">MMA ( mixed martial arts ) adulte</h2>
                <p class="text-white roboto-font">Popularisé par des événements comme l'Ultimate Fighting Championship (UFC), StrikeForce, WEC, DREAM et K-1, les arts martiaux mixtes (MMA) prennent aujourd'hui le monde d'assaut.
                    Le programme MMA du KABUTO FIGHT CLUB comprend les quatres (4) éléments clés du MMA : boxe Muay Thai, Jiu Jitsu brésilien, boxe et lutte.<br><br>
                    Lorsqu'ils sont combinés, ces programmes offrent le mélange parfait de sports de combat et donnent à chaque étudiant le conditionnement et les compétences techniques nécessaires pour concourir aux plus hauts niveaux de MMA. Le KABUTO est un club aussi bien fait pour les débutants, comme pour les compétiteurs qui retrouverons ici un staff fait pour développer leurs carriéres PRO et Amateur . ( Instructeurs , combattants , préparateurs physiques , suivie médicale en partenariats avec le "centre médicaux rochelais " , nutritionniste , préparateur mental .)<br><br>
                    ​
                    La formation MMA au KABUTO comprend une formation technique à jour/de pointe, des exercices, un conditionnement, une formation spécifique et du sparring.
                    La sécurité est un autre facteur clé de nos méthodes de formation ; vous ne pouvez pas vous entraîner et vous battre si vous êtes constamment blessé. L'équipement approprié, la supervision et les méthodes d'entraînement sont strictement suivis dans notre salle de gym par des instructeurs Diplômés. Alors, que vous soyez un aspirant combattant ou que vous vouliez simplement vous entraîner comme tel, le programme KABUTO MMA est fait pour vous !</p>
            </div>
        </div>
    </div>


    <img src="{{ asset('images/vector.svg') }}" class="vector-icon1" alt="vector jaune">
    <img src="{{ asset('images/vector-icon2.svg') }}" class="vector-icon2" alt="vector jaune">




    <div class="container pt-5 pb-5">
        <div class="row flex-column-reverse flex-md-row align-items-center text-center text-md-start">
            <div class="col-12 col-lg-8">
                <h2 class="roboto-font title-discipline" style="color: yellow;">Jiu-Jitsu Bresilien</h2>
                <p class="text-white roboto-font">Devenez imbattable sur le tatami avec les cours de Jiu-Jitsu Brésilien du KABUTO FIGHT CLUB . Grâce à l'expertise de nos coachs certifiés, chaque cours se concentrera sur une technique fondamentale qui vous permettra d'abord d'apprendre les fondements de la discipline.<br><br>
                    Les combattants du jiu-jitsu brésilien ont tendance à se sentir très à l'aise en position de garde. La position de garde, qui entoure l’adversaire de ses jambes pour limiter ses mouvements, permet de lutter de manière efficace en étant positionné sur le dos . Ce type de technique distingue le jiu-jitsu brésilien de la plupart des autres styles de lutte. Aujourd'hui, presque tous les combattants de MMA s'entraînent au jiu-jitsu brésilien afin de développer les différentes techniques de combat au sol (appelé également « grappling ») associées à la discipline. Les particularités du jiu-jitsu brésilien augmentent la palette technique d'un combattant.<br><br>
                    ​
                    Les cours sont adaptés à tous les publics. Les athlètes confirmés auront des instructions plus détaillées. Nos coachs adapteront toujours leurs cours aux membres qui composent la séance du jour. De ce fait, les élèves possédant un niveau avancé pourront également acquérir une plus grande variété de techniques. Les profils confirmés apprendront les positions de contrôle en plus des positions de garde. Ne vous étonnez donc pas de voir l’intensité d’un cours varier d’un jour à l’autre. Nos cours ont un seul maître-mot : vous faire progresser en toute</p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="{{ asset('images/rectangle-6721@2x.png') }}" alt="coaching d'un eleve de JJB" class="img-fluid mx-auto d-block img-discipline" style="background-color: black;">
            </div>
        </div>
    </div>



    


    <div class="container pt-5 pb-5">
        <div class="row flex-column-reverse flex-lg-row align-items-center text-center text-lg-start">
            <div class="col-12 col-lg-4">
                <img src="{{ asset('images/muay.jpg') }}" alt="" class="img-fluid mx-auto d-block img-discipline" style="background-color: black;">
            </div>

            <div class="col-12 col-lg-8">
                <h2 class="roboto-font title-discipline" style="color: yellow;">KickBoxing / Muay Thaï</h2>
                <p class="text-white roboto-font">Au KABUTO FIGHT CLUB, vous étofferez l'ensemble de votre palette technique afin que toutes les parties de votre corps puissent vous donner la victoire. Avec le Kickboxing et le Muay-thai, acquérez les techniques vous permettant d'utiliser tous vos membres afin de prendre l'ascendant sur vos adversaires. Vous découvrirez l'un des arts martiaux les plus connus et les plus pratiqués au monde.<br><br>
                    En utilisant l'ensemble de votre corps comme une arme, vous apprendrez à améliorer votre motricité. Le kickboxing et le muay-thai est un art martial et un sport de combat sans pareil. En incorporant l'utilisation des genoux, des coudes, des tibias et des mains, vous acquérez des techniques utiles aussi bien à courte portée, moyenne portée et au corps à corps.
                    ​<br><br>
                    Les bienfaits physiques de la disciplines sont évidents. Quoi de mieux qu'une discipline vous permettant de brûler jusqu'à 1 000 calories par heure ? C'est un moyen amusant, efficace et ludique de brûler de la graisse et de perdre du poids. Au delà d'être un art martial parfait, le kickboxing et le muay-thai est également une forme d’exercice très efficace. Avec un entraînement continu, le kickboxing et le muay-thai améliorera considérablement votre agilité, votre souplesse et votre endurance.
                </p>
            </div>
           
        </div>
    </div>




    <div class="container pt-5 pb-5">
        <div class="row flex-column flex-md-row align-items-center text-center text-md-start">
            <div class="col-12 col-lg-8">
                <h2 class="roboto-font title-discipline" style="color: yellow;">Wrestling ( lutte ) / grappling ( No-gi jjb )</h2>
                <p class="text-white roboto-font">Les cours de grappling sont transdisciplinaires puisqu’ils bénéficieront aussi bien aux pratiquants de jiu-jitsu brésilien, aux judokas qu’aux athlètes aspirant à performer en MMA. Afin d’apprendre toutes les étapes menant à la soumission, au KABUTO FIGHT CLUB , vous apprendrez également à mettre au sol votre adversaire, ces phases sont appelées les takedowns. Avec nos coachs certifiés, vous apprendrez tous les mouvements indispensables pour ne plus être défaits au sol. 
                    ​<br><br>
                    Les phases de grappling naissent souvent après une projection, également appelée « takedown ». L'objectif dans une phase de grappling est alors de tenter de faire abandonner son opposant sans utiliser le moindre coup et cela grâce à des techniques de soumission. Le grappling peut être pratiqué aussi bien en position debout qu'allongé. Le grappling debout est alors nommé le « wrestling (lutte) » tandis qu'en position allongé, on parle de « ground grappling ». La maitrise du ground grappling est indispensable dans de multiples disciplines. Si vous souhaitez devenir un combattant de MMA complet par exemple, les techniques acquises lors de ce cours vous permettront de compléter votre palette technique en complètement de vos compétences de striker.</p>
            </div>
            <div class="col-12 col-lg-4">
                <img src="{{ asset('images/lutte.jpg') }}" alt="coaching d'un eleve de JJB" class="img-fluid mx-auto d-block img-discipline" style="background-color: black;">
            </div>
        </div>
    </div>


    <div class="container pt-5 pb-5">
        <div class="row flex-column-reverse flex-lg-row align-items-center text-center text-lg-start">
            <div class="col-12 col-lg-4">
                <img src="{{ asset('images/boxe2.jpg') }}" alt="" class="img-fluid mx-auto d-block img-discipline" style="background-color: black;">
            </div>

            <div class="col-12 col-lg-8">
                <h2 class="roboto-font title-discipline" style="color: yellow;">Boxe Anglaise</h2>
                <p class="text-white roboto-font">La boxe anglaise, aussi appelée le noble art, est un sport de combat dans lequel deux adversaires, de même catégorie de poids et de même sexe, se rencontrent sur un ring, munis de gants rembourrés afin de limiter le risque de coupure, et s’échangent des coups de poings, portés au visage et au buste.
                    Au KABUTO FIGHTCLUB cette discipline est omniprésente ! Son enseignement est une base de nos cours de MMA , Kickboxing / Muay Thai . Si vous ne savez pas par où commencer, la Boxe anglaise est certainement un bon point de départ.
                </p>
            </div>
           
        </div>
    </div>


    <img src="{{ asset('images/group-33301.svg') }}" class="vector-icon3" alt="vector jaune">


    <div class="container-fluid cadre mb-5 col-12">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-white roboto-font title-discipline mt-2">Kids <span style="color: yellow;">programme</span></h2>
            <h3 class="text-white roboto-font title-discipline mb-5">mma / kickboxing / jjb / boxe</h3>
        </div>

        <div>
            <h2 class="text-white roboto-font title-discipline">Kids "full combat"</h2>
            <p class="text-white roboto-font">Chez KABUTO FIGHT CLUB , nous avons développé un programme Kids "FULL COMBAT" qui comprend à la fois le MMA, Kickboxing, le jiu-jitsu brésilien , le jjb NOGI et la boxe pour plusieurs groupes d'âge.
                Regardez votre enfant développer ses capacités physiques, sa forme physique et sa concentration mentale tout en se faisant de nouveaux amis et en s'amusant à apprendre de nouvelles compétences passionnantes qui renforcent sa confiance en soi.
                Nos instructeurs savent comment garder les enfants impliqués et enthousiasmés par les arts martiaux.
                Ils peuvent aussi pratiquer simplement une seul discipline, le MMA , le Kicboxing , le jiujitsu brésilien / JJB NoGi et la Boxe.</p>
        </div>
    </div>





  {% endblock %}