{% extends 'base.html.twig' %}

{% block title %}Paiement des abonnements{% endblock %}

{% block body %}
<section class="container d-flex flex-column justify-content-center padding mt-5 mb-5" style="height: 60vh;">
<div class="d-flex align-items-center justify-content-center">
    <button class="btn btn-secondary step-btn active">Étape 1</button>
    <div class="line"></div>
    <button class="btn btn-secondary step-btn active">Étape 2</button>
    <div class="line"></div>
    <button class="btn btn-secondary step-btn active">Étape 3</button>
    <div class="line"></div>
    <button class="btn btn-secondary step-btn active">Étape 4</button>
</div>

    <div class="row custom-cadre">
    <h1 class="text-white text-center main-title-inscription w-100">Finaliser l'achat des abonnements</h1>


    <div class="col-6">
        <form id='checkout-form-both' method='post' action="{{ path('payment_stripe_checkout') }}">
            <button 
                class="btn btn-inscription btn-lg my-3"
                type="submit"
                style="width: 100%; padding: 7px;">Payer par carte bancaire {{ total }} € 
            </button>
{#             
                <button 
                    class="btn btn-warning btn-lg my-3"
                    type="button"
                    style="width: 100%; padding: 7px;"
                    id="payByCashOrCheckForBoth"
                    >Payer en espèces/chèques
                </button> #}
            
        </form>
    </div>

 
    <div class="col-6 mb-5">
        <fieldset class="ms-5 text-white d-flex flex-column">
            <h5 class="mb-3">Récapitulatif du Panier</h5>
     
{% for order in userAbonnement %}
    <ul>
        {% for abonnement in order.getAbonnement() %}
            <li>
                {{ userName }} : {{ abonnement.categorie }} - {{ abonnement.discipline }} - {{ abonnement.prix }} € - {{ abonnement.durée }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% for kidName, abonnements in kidsAbonnementsWithPrices %}
    <ul>
        {% for abonnement in abonnements %}
            <li>
                {{ kidName }} : {{ abonnement.abonnement.categorie }} - {{ abonnement.abonnement.discipline }} - {{ abonnement.prix }} € - {{ abonnement.abonnement.durée }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}

            <strong>Total : {{ total }} €</strong>
        </fieldset>
    </div>

</div>

</section>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{stripe_key}}");
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element-both');

        function createToken() {
            document.getElementById("pay-btn-both").disabled = true;
            stripe.createToken(cardElement).then(function(result) {
                if(typeof result.error != 'undefined') {
                    document.getElementById("pay-btn-both").disabled = false;
                    alert(result.error.message);
                }

                // creating token success
                if(typeof result.token != 'undefined') {
                    document.getElementById("stripe-token-id-both").value = result.token.id;
                    document.getElementById('checkout-form-both').submit();
                }
            });
        }
    </script>
    
{% endblock %}
