{% extends 'usersBase.html.twig' %}

{% block body %}

{{ form_start(form) }}



<div class="row">
    <div class="col">
        <div class="form-group">
            {{ form_label(form.ceinture) }}
            {{ form_widget(form.ceinture) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            {{ form_label(form.kimono) }}
            {{ form_widget(form.kimono) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            {{ form_label(form.categoriePoid) }}
            {{ form_widget(form.categoriePoid) }}
        </div>
    </div>
</div>



<button type="submit" class="btn btn-primary">Valider</button>

{{ form_end(form) }}

<script>
document.getElementById('{{ form.categoriePoid.vars.id }}').addEventListener('change', function() {
    let max = 2;
    if (this.selectedOptions.length > max) {
        alert('Vous ne pouvez sélectionner que ' + max + ' options.');
        for (let i = 0; i < this.options.length; i++) {
            this.options[i].selected = i < max;
        }
    }
});
</script>

{% endblock %}
