{% extends 'usersBase.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h2 class="text-center mb-4">Modifier le profil compétiteur</h2>

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}

    <div class="row justify-content-center"> {# Use justify-content-center to center the form fields in the row #}
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ceinture, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.ceinture, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.trancheAge, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.trancheAge, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.categoriePoid, null, {'label_attr': {'class': 'font-weight-bold'}}) }}
                {{ form_widget(form.categoriePoid, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mt-2">Valider</button>
            </div>
        </div>
    </div> {# End of row #}

    {{ form_end(form) }}
</div>

{% endblock %}


