{% extends 'usersBase.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}
<h2>Mes Commandes</h2>

{% if orders|length > 0 %}
    <ul>
    {% for order in orders %}
        <li>
            <strong>Reference:</strong> {{ order.getReference() }}
            <strong>Date:</strong> {{ order.getCreatedAt()|date('d-m-Y') }}
            <strong>Total:</strong> ${{ order.getTotal() }}
            <strong>Payer:</strong> {{ order.isPayer() ? 'Yes' : 'No' }}
            
            <ul>
                {% for detail in order.getOrdersDetails() %}
                <li>
                    <strong>Produit:</strong> {{ detail.getProducts().getName() }}
                    <strong>Quantité:</strong> {{ detail.getQuantity() }}
                    <strong>Prix:</strong> ${{ detail.getPrice() }}
                    <strong>Taille:</strong> {{ detail.getSize() }}
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have no orders yet.</p>
{% endif %}

{% endblock %}
