{% extends 'usersBase.html.twig' %}

{% block body %}

<div class="container ">
{% for message in app.flashes('message') %}
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Profil mis à jour
    </div>
  </div>
</div>  
  
{% endfor %}
<div class="container mt-4 m-0 p-0">
    <!-- Profil de l'utilisateur principal -->
    <div class="row mb-4">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-header bg-warning text-white fs-3">
                    Profil de {{app.user.prenom }} {{ app.user.nom}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Informations du profil principal -->
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><i class="fas fa-user"></i> Nom : {{ app.user.nom}}</li>
                                <li><i class="fas fa-user"></i> Prénom : {{app.user.prenom }}</li>
                                <li><i class="fas fa-envelope"></i> Email : {{app.user.email }}</li>
                                <li><i class="fas fa-map-marker-alt"></i> Adresse : {{app.user.adresse }}, {{app.user.zipcode }}, {{app.user.ville }}</li>
                            </ul>
                            <a href="{{ path('app_edit_profile') }}" class="btn btn-primary mb-2">Modifier le profil</a>


                            {% if app.user.certificatMedical %}
    
                                <div class="dropdown mt-5">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Gérer le certificat médical
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="contactDropdown">
                                        <a href="{{ path('app_delete_certificat', {'type': 'user', 'id': app.user.id}) }}" class="dropdown-item btn btn-warning">Supprimer le certificat</a>
                                        
                                        
                                    </div>
                                </div>
                            {% else %}

                            <div class="dropdown mt-5">
                                <button class="btn btn-warning  dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="alse" aria-expanded="false">Fournir un certificat médical</button>
                                <div class="dropdown-menu" aria-labelledby="contactDropdown">
                                    <form action="{{ path('app_upload_certificat', {'type': 'user', 'id': app.user.id}) }}"          method="post" enctype="multipart/form-data">
                                        {{ form(forms['user']) }}
                                    </form>

                                    </div>
                            </div>
                            

{% endif %}


                        </div>
                        
                        <!-- Informations du profil compétiteur -->
                        <div class="col-md-6">
                            <h4>Profil de compétiteur</h4>
                            <ul class="list-unstyled">
                                <li><i class="fas fa-ribbon"></i> Ceinture : {{app.user.ceinture}}</li>
                                <li><i class="fas fa-weight"></i> Catégorie de poids No-Gi : {{app.user.categoriePoid}}</li>
                                <li><i class="fas fa-weight"></i> Catégorie de poids Gi : {{app.user.categoriePoidGi}}</li>
                                <li><i class="fas fa-user"></i> Kimono : {{ app.user.kimono}}</li>
                            </ul>
                            <a href="{{ path('app_edit_competiteur_profile') }}" class="btn btn-primary">Modifier le profil compétiteur</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if kids is not empty %}
        {% for kid in kids %}
            <!-- Profil de chaque enfant -->
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-secondary text-white fs-3">
                            Profil de {{kid.prenom }} {{ kid.nom}}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!-- Informations du profil de l'enfant -->
                                <div class="col-md-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-user"></i> Nom : {{ kid.nom}}</li>
                                        <li><i class="fas fa-user"></i> Prénom : {{kid.prenom }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i> Adresse : {{kid.adresse }}, {{kid.zipcode }}, {{kid.ville }}</li>
                                    </ul>
                                    <a href="{{ path('app_edit_kids_profile') }}" class="btn btn-primary mb-2">Modifier le profil</a>

                                   {% if kid.certificatMedical %}
                                    {# S'il a déjà un certificat, proposez-lui de le remplacer ou de le supprimer #}
                                    <div class="dropdown mt-5">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Gérer le certificat médical
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="contactDropdown">
                                            <a href="{{ path('app_delete_certificat', {'type': 'kid', 'id': kid.id}) }}" class="dropdown-item btn btn-danger">Supprimer le certificat</a>
                                            
                                           
                                        </div>
                                    </div>
                                {% else %}
                                            <div class="dropdown mt-5">
                                <button class="btn btn-warning  dropdown-toggle" type="button" id="contactDropdown" data-toggle="dropdown" aria-haspopup="alse" aria-expanded="false">Fournir un certificat médical</button>
                                <div class="dropdown-menu" aria-labelledby="contactDropdown">
                                    <form action="{{ path('app_upload_certificat', {'type': 'kid', 'id': kid.id}) }}"          method="post" enctype="multipart/form-data">
                                        {{ form(forms['kid_' ~ kid.id]) }}

                                    </form>

                                    </div>
                            </div>
                                {% endif %}            

                                </div>
                                
                                <!-- Informations du profil compétiteur de l'enfant -->
                                <div class="col-md-6">
                                    <h4>Profil de compétiteur</h4>
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-ribbon"></i> Ceinture : {{ kid.ceinture }}</li>
                                        <li><i class="fas fa-weight"></i> Catégorie de poids : {{ kid.categoriePoid }}</li>
                                        <li><i class="fas fa-birthday-cake"></i> Tranche d'âge : {{ kid.trancheAge }}</li>
                                    </ul>
                                    <a href="{{ path('app_profile_kids_competiteur', {'id': kid.id}) }}" class="btn btn-primary">Modifier le profil compétiteur</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="text-center mb-4">
        <a href="{{path('app_add_kids')}}" class="btn btn-primary">Ajouter un enfant</a>
    </div>
</div>

<style>
    .card-header {
        background-color: black;
        color: white;
    }
    .btn-primary {
        background-color: yellow;
        color: black;
        border: none;
    }
    .btn-primary:hover {
        background-color: #f0e14a; /* Une teinte de jaune un peu plus foncée */
    }
    
    a {
        color: yellow;
    }
    a:hover {
        color: black;
    }
</style>




{% endblock %}

